



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body{
    font-family: 'Poppins';
    background-color: #000;
}
ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 110px 100px
}

@media (max-width: 1000px){
    section{
        padding: 100px 50px;
    }
}



@media (max-width: 600px){
    section{
        padding: 125px 30px;
    }
}

header{
    position: absolute;
    background-color: #000;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 35px 100px 0;
}

header a{
    text-transform: capitalize;
    font-weight: 900;
}

header h2{
    text-transform: uppercase;
}

header .nav{
    display: flex;
}

header .nav li{
    margin: 0 15px;
}

header .nav li:first-child{
    margin-left: 0;
}

header .nav li:last-child{
    margin-right: 0;
}

@media (max-width:1000px){
    header{
        padding: 20px 50px;
    }
}

@media (max-width:700px){
    header{
        flex-direction: column;
    }
    header h2{
        margin-bottom: 15px;
    }
    header .nav li{
        margin: 0 7px;
    }
    }

    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 40px 20px 0 20px;
    }

    .container .heading{
        width: 50%;
        padding-bottom: 50px;

    }

    

    .container .box{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .container .box .dream{
        display: flex;
        flex-direction: column;
        width: 32.5%;
    }

    .container .box .dream img{
        width: 100%;
        padding-bottom: 15px;
        border-radius: 5px;
    }

@media (max-width: 576px){
    .container .box{
        flex-direction: column;
    }
    .container .box .dream{
        width: 100%;
    }
}
    .footer {
    background-color: #000;
    position:inherit;
    padding: 0;
}
.social{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.social a{
    font-size: 20px;
	 		display: inline-block;
	 		color: whitesmoke;
	 		width: 25px;
	 		padding: 10px;
	 		border-radius: 8px;
}

.social a:hover{
    background-color: skyblue;
}

.footer  ul li{
    display: inline;
    padding: 10px 10px;
    color: whitesmoke;
    margin: 0;
}

.author{
    text-align: left;
	 		padding-bottom: 30px;
	 		color: whitesmoke;
}