



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body{
    font-family: nexa;
    background-color: #3533336a;
}
ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 110px 100px
}

@media (max-width: 1000px){
    section{
        padding: 100px 50px;
    }
}



@media (max-width: 600px){
    section{
        padding: 125px 30px;
    }
}

header{
    position: absolute;
    background-color: #000;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 35px 100px 0;
}

header a{
    text-transform: capitalize;
    font-weight: 900;
}

header h2{
    text-transform: uppercase;
}

header .nav{
    display: flex;
}

header .nav li{
    margin: 0 15px;
}

header .nav li:first-child{
    margin-left: 0;
}

header .nav li:last-child{
    margin-right: 0;
}

@media (max-width:1000px){
    header{
        padding: 20px 50px;
    }
}

@media (max-width:700px){
    header{
        flex-direction: column;
    }
    header h2{
        margin-bottom: 15px;
    }
    header .nav li{
        margin: 0 7px;
    }
    }


.card-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
    margin-top: 100px;
}

.card{
    width: 325px;
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.3);
    overflow: hidden;
    transition: .6s;
}

.card:hover{
    transform: translateY(-20px);
}

.card img{
    width: 100%;
    height: auto;
    object-fit: cover;
}

.card-content{
    padding: 20px;
}
.card-content h1{
    font-size: 24px;
    margin-bottom: 10px;
}
.card-content p{
    font-size: 15px;
    color: #666;
    margin-bottom: 20px;
}
.card-button{
    display: inline-block;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    padding: 8px 16px;
}


.footer {
    background-color: #000;
    position:inherit;
    padding: 0;
}
.social{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.social a{
    font-size: 20px;
	 		display: inline-block;
	 		color: whitesmoke;
	 		width: 25px;
	 		padding: 10px;
	 		border-radius: 8px;
}

.social a:hover{
    background-color: rgba(5, 20, 26, 0.258);
}

.footer  ul li{
    display: inline;
    padding: 10px 10px;
    color: whitesmoke;
    margin: 0;
}

.author{
    text-align: left;
	 		padding-bottom: 30px;
	 		color: whitesmoke;
}